/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {

}
li {list-style: none;}
 nav {
  border-bottom: 2px solid #999;
}
nav .nav-wrapper {
  padding: 0% 3%;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
#mapid {
  min-height: 1200px;
  width: 100%;
  background-color: rgb(230,238,242);
  background-image: url('https://i.giphy.com/xTk9ZvMnbIiIew7IpW.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
 }

 .container {
  margin: 0px;
  width: 100%;
  max-width: none;
 }

#index-banner {

}

.leaflet-container { min-height: 800px; }